<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.atlas.mapper.CropToPestMapper" >
  <resultMap id="BaseResultMap" type="com.example.atlas.model.CropToPest" >
    <result column="cropid" property="cropid" jdbcType="INTEGER" />
    <result column="pestid" property="pestid" jdbcType="INTEGER" />
  </resultMap>
  <insert id="insert" parameterType="com.example.atlas.model.CropToPest" >
    insert into crop_to_pest (cropid, pestid)
    values (#{cropid,jdbcType=INTEGER}, #{pestid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.example.atlas.model.CropToPest" >
    insert into crop_to_pest
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cropid != null" >
        cropid,
      </if>
      <if test="pestid != null" >
        pestid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cropid != null" >
        #{cropid,jdbcType=INTEGER},
      </if>
      <if test="pestid != null" >
        #{pestid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>